* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #0066ff;
    height: 12vh;
    margin-top: -0.5vh;
}

#navbar {
    z-index: 1;
}

#navText {
    display: block;
    font-size: 2em;
    margin-block-start: 0.05em;
    margin-block-end: 0.05em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    margin-left: 100px;
    font-family: sans-serif;
    text-decoration: none;
    position: absolute;
    margin-top: 29.5px;
}

#navText:hover{
    color:#d9d9d9;
    transition: 1s;
}


.Search-bar {
    position: absolute;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: -2px 5px 4px -4px #333;
    text-align: left;
    width: 25%;
    margin-left: 35%;
    z-index: 3;
    outline: none;
    margin-top: 27px;
}



.navPg {
    color: white;
    position: absolute;
    margin-left: 66%;
    font-family: Muli, sans-serif;
    margin-top: 30px;
}

.link {
    position: absolute;
    text-decoration: none;
    margin-top: 43px;
    z-index: 1;
    margin-left: 65.37%;
    font-family: Muli, sans-serif;
    padding: 10px;


}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover{
    color:#d9d9d9;
    transition: 1s;
    
}

.lupa {
    margin-left: 58.5%;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    color: #0D6EFD;
    z-index: 41;
    margin-top: 37px;
    font-size: 1.35em;

}

.cart {
    margin-left: 80%;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    color: #ffffff;
    font-size: 42px;
    margin-top: 29px;
}

.user {
    position: absolute;
    margin-left: 63%;
    font-size: 42px;
    color: white;
    margin-top: 27px;
}

.cat {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: #0D6EFD;
    font-size: 16px;

}


.SubNav {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
     box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
     display: flex;
     z-index: 1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        display: flex;
}
.SubNav a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 32%;
    margin: 10px;
    text-decoration: none;
    color: #0D6EFD;
    font-size: 17px;
    z-index: 1;
    font-family: Muli, sans-serif;
}



